[project]
name = "torchinstaller"
version = "0.4.8"
description = "Simple utility to install pytorch, pytorch-geometric and pytorch-lightning. Detects CUDA version automatically."
authors = [
    { name = "Daniel Capecci", email = "7775585+dk0d@users.noreply.github.com" },
]
dependencies = [
    "tomlkit<1.0.0,>=0.11.6",
    "rich>=13.3.2",
]
requires-python = ">=3.9,<4.0"
readme = "README.md"
license = { text = "MIT" }

[project.urls]
github = "https://github.com/dk0d/torchinstaller.git"

[project.scripts]
torchinstall = "torchinstaller.main:main"

[tool.pdm]

[[tool.pdm.build.includes]]
path = "torchinstaller/config/commands.toml"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"