[tool.poetry]
name = "torchinstaller"
version = "0.2.9"
description = "Simple utility to install pytorch, pytorch-geometric and pytorch-lightning. Detects CUDA version automatically."
authors = ["Daniel Capecci"]
repository="https://github.com/dk0d/torchinstaller.git"
readme = "README.md"

[tool.poetry.scripts]
torchinstall = 'torchinstaller.main:main'

[tool.poetry.dependencies]
python = "^3.9"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
